{% load bootstrap3 %}
{% load get_dict_item %}
{% bootstrap_messages %}

<form action="service_manager/dropbox/upload" method="POST" enctype="multipart/form-data">{% csrf_token %}
    File to upload to Dropbox:
    <input name="file" type="file">
    <input type="submit" value="Upload File to Dropbox">
</form>
<table class="table table-condensed table-responsive" id="rounded-corner">
    <thead>
    	<tr>
            <th scope="col" class="rounded">Name</th>
            <th scope="col" class="rounded">Type</th>
            <th scope="col" class="rounded">Size</th>
            <th scope="col" class="rounded">Modified</th>
        </tr>
    </thead>
    <tfoot>
    	<tr>
        	<td colspan="6" class="rounded-foot-left"><em>Dropbox file view</em></td>
        	<td class="rounded-foot-right">&nbsp;</td>

        </tr>
    </tfoot>
    <tbody>
        {# root_contents is a list of dictionaries #}
        {% for item in root_contents %}
            <tr>
                <td><a href="{{ item|get_dict_item:'url' }}">{{ item|get_dict_item:'path' }}</a></td>
                <td>{{ item|get_dict_item:'mime_type' }}</td>
                <td>{{ item|get_dict_item:'size' }}</td>
                <td>{{ item|get_dict_item:'modified' }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>