{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" style="padding-left: 8%; height: 350px; background-image: url('/static/index_header.png'); background-size: auto;">
        <div class="container col-md-5">
            <h1><b style="color: #FFFFFF;">242FINALPROJ</b></h1>
            <p style="color: #FFFFFF">WE'LL MAKE YOUR LIFE AWESOME, WITH CLOUDS
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2><b>MANAGE YOUR CLOUD STUFF</b></h2>
            <p>
                NEVER WORRY ABOUT STORAGE AGAIN
            </p>
            <h2><b>SERVICES</b></h2>
            <h4>Dropbox</h4>
            <h4>Google Drive</h4>
            <h4>Box.net</h4>
            <h4>Amazon S3</h4>
        </div>
    </div>

{% endblock %}
