{% load bootstrap3 %}

<form action="https://{{ bucketname }}.s3.amazonaws.com/" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="key" value="${filename}">
      <input type="hidden" name="AWSAccessKeyId" value="{{ clientid }}">
      <input type="hidden" name="acl" value="private">
      <input type="hidden" name="success_action_redirect" value="http://localhost:8000/dashboard#/service_manager/amazon/files">
      <input type="hidden" name="policy" value={{ policy }}>
      <input type="hidden" name="signature" value={{ signature }}>
{#      <input type="hidden" name="Content-Type" value="file">#}
      <!-- Include any additional input fields here -->
      File to upload to S3:
      <input name="file" type="file">
      <input type="submit" value="Upload File to S3">
</form>
<table class="table table-condensed table-responsive" id="rounded-corner">
    <thead>
    	<tr>
        	<th scope="col" class="rounded-company"></th>
            <th scope="col" class="rounded">Name</th>
            <th scope="col" class="rounded">Type</th>
            <th scope="col" class="rounded">Size</th>
            <th scope="col" class="rounded">Modified</th>
{#            <th scope="col" class="rounded">Edit</th>#}
            <th scope="col" class="rounded-q4">Delete</th>
        </tr>
    </thead>
    <tfoot>
    	<tr>
        	<td colspan="6" class="rounded-foot-left"><em>Folders are represented in the format "foldername/" prepended to filename</em></td>
        	<td class="rounded-foot-right">&nbsp;</td>

        </tr>
    </tfoot>
    <tbody>
{#        {% for f in folders %}#}
{#            <tr>#}
{#                <td><input type="checkbox"></td>#}
{#                <td>{{ f }}</td>#}
{#                <td>Folder</td>#}
{#            </tr>#}
            {% for fi in files %}
                <tr>
                    <td><input type="checkbox"></td>
                    <td><a style="text-decoration: none" href="https://{{ bucketname }}.s3.amazonaws.com/{{ fi }}">{{ fi }}</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
{#        {% endfor %}#}
    </tbody>
</table>